$Neutral-white: hsl(0, 0%, 98%);
$Neutral-gray: hsl(0, 0%, 41%);
$Neutral-black: hsl(0, 0%, 8%);
// $paragharp-size: 18px;

//BreakPoints 
$screen-4k: 2000px;
$screen-large: 1200px;
$screen-medium: 985px;
$screen-small: 850px;
$screen-mobile: 600px;